################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Mysales-ManagerView/config/applicationhost.config
/.vs/ManagerViewHtml/config/applicationhost.config
/.vs
